* {
   margin: 0;
   padding: 0;
}

.profile_div {
   display: flex;
   width: 75vw;
   background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(224,251,252,1) 100%);
   height: 100vh;
}


.profile_form {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
}