.brand_div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.brand_name {
  color: #293241;
  font-size: 3vw;
  margin-right: 10px;
  font-weight: 400;
}

.nav_bar {
  height: 92%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(224,251,252,1) 0%, rgba(152,193,217,1) 100%);
  padding: 5vh 2vw 3vh 2vw;
  box-shadow: 1px 1px 10px #293241;
}

.nav_div {
  width: 25%;
}

.nav_link {
  text-decoration: none;
}