.profile_div {
  width: 75%;
  height: 99vh;
}

.profile_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 15vw 0 15vw;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  margin: 0 2vw 0 2vw;
}

.form_label {
  font-size: 20px;
  font-weight: 500;
  color: #293241;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  width: 33%;
}

.form_title {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  font-size: 30px;
  font-weight: 400;
}

.form_input {
  height: 5vh;
  font-size: 20px;
  font-weight: 400;
  color: #293241;
  border-style: solid;
  border-radius: 3px;
  border-color: rgba(152,193,217,1);
  border-width: 1px;
  cursor: pointer;
  font-style: italic;
  padding: 0vh 1vw 0vh 1vw;
  width: 100%;
}

.profile_submit {
  padding: 5vh 4vw 5vh 4vw;
  border-radius: 3px;
  background: linear-gradient(135deg, rgba(224,251,252,1) 0%, rgba(152,193,217,1) 100%);
  box-shadow: 1px 1px 10px #293241;
}

.button_div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.save_button {
  width: 40%;
}

.label_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}