* {
  margin: 0;
  padding: 0;
}

.profile_div {
  border-style: solid;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 251, 252, 1) 100%
  );
  height: 100vh;
}

.profile_buttons {
  border-style: solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_view {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  height: 50%;
}

.button {
  width: 100%;
  padding: 1vh 0 1vh 0;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-style: none;
  background: linear-gradient(0deg, rgba(209,95,68,1) 0%, rgba(238,108,77,1) 100%);
  margin-top: 4vh;
  border-radius: 3px;
  cursor: pointer;
}

.button_div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}