.profile_div {
  display: flex;
  flex-direction: column;
  margin: 2vh 5vw 2vh 5vw;
  height: 100%;
}

.profile_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: #293241;
  margin: 1vh 0 1vh 0;
}

.profile_title {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #293241;
}

.profile_image {
  display: flex;
  justify-content: center;
  padding: 2vh 0 2vh 0;
}

.default_image {
  border-width:2px;
  border-style: solid;
  border-color: #293241;
  border-radius: 100%;
}